<?xml version="1.0"?>
<launch>

   

    <!-- XACRO file ????? -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find navigation)/description/urdf/cali.xacro'" />

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn= "false" output="screen" />



    <node name="rviz_perception" pkg="rviz" type="rviz" args="-d $(find navigation)/rviz_config/cali.rviz" />

</launch>